ul {
    display: flex;
    border: 5px dotted red;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;

}

li {
    flex: 0 1 auto;
    border: 5px dotted blue;
}



/*body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border: 5px dotted red;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    height: 400px;
    align-items: stretch;
}

li{
    border: 5px solid #999;
    margin: 0.5em;
    padding: 0.5em;
}
.flex2{
    border: 5px dashed blue;
    order: 2;
    flex: 1 1 25%;
}

.flex1 {
    border: 5px dashed olivedrab;
    flex: 0 0 2000px
    
}
/*

